# VITE_SUPABASE_URL: The URL of your Supabase project.
VITE_SUPABASE_URL="https://parsfpaonvblthnlpdna.supabase.co"

VITE_APPS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzmy_kjTZjsjYaif7xT405HLCOhtgMm4PrOJTBWwekhM4NjX1hvguHB7EyogL97QWCR/exec"
