# VITE_SUPABASE_URL: The URL of your Supabase project.
VITE_SUPABASE_URL="https://parsfpaonvblthnlpdna.supabase.co"

# VITE_SUPABASE_ANON_KEY: The anonymous key for your Supabase project.
VITE_SUPABASE_ANON_KEY="sb_publishable_1Fvxg4GnKNXyeBtdKPr9EA_d9D5guyx"
